body{
    object-fit: cover;
    background-color: rgb(233, 63, 60);
}
.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
.card1{
    justify-content: left;
    width: 800px;
    height: 500px;
    margin: 10px;
    border: 1px solid rgb(158, 24, 24);
}
.card1 img:hover{
    transition: 2s;
    transform: 2s scale(28);
}
.img{
    justify-content: left;
    margin: 5px;
    width: 790px;
    height: 490px;
}
.card2{
    margin: 5px;
    width: 100%;
    height: 240px;
    background-color: rgb(164, 25, 25);
    border: 1px solid rgb(247, 8, 8)
}
.card3{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.img1{
    width: 350px;
    height: 210px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: rgb(161, 228, 27);
}
.img2{
    width: 350px;
    height: 210px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: rgba(210, 70, 31, 0.337);
}
.img3{
    width: 350px;
    height: 210px;
    margin: 5px;
    border-radius: 10px;box-shadow: rgb(237, 50, 25);
}
.img4{
    width: 350px;
    height: 210px;
    margin: 5px;
    border-radius: 10px;box-shadow: rgb(229, 162, 153);
}

